# PostgreSQL Database URL
DATABASE_URL=postgresql+psycopg2://user:password@postgres:5432/finaidb

# JWT Settings
# MUST be the same as auth-service
JWT_SECRET=YOUR_SUPER_SECRET_KEY
JWT_ALGORITHM=HS256

# Path to the trained ML model
MODEL_PATH=ml/model.joblib